/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 1300px) {
    body {
        font-size: 2rem;
    }
    nav ul li a{
        font-size: 20px;
        padding: 0.6rem 1rem;
        max-width: 100%;
        text-align: center;
    }
    nav {
        font-size: 19px;
        padding-left: 5rem;
    }
    div.banner {
        display: none;
        background-color: #ffbf00;
        color: #12355B;
        padding: 1em;
        text-align: center;
        font-size: 18px;
    }
    nav button {
        display: none;
    }
    nav ul.hide{
        display: block;
    }
    nav ul{
        margin-left: 10%;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        font-size: 1.5em;
        max-width: 100%;
        text-align: center;
        padding: 1.5em 2.5em 1.5em 2.5em;
    }
    header {
        font-size: 20px;
        padding: 1em;
    }
    header img {
        float: left;
        width: 100px;
        padding-top: .5em;
        padding-left: 1.5em;
    }
    .contact {
        display: inline-block;
    }
    .weather {
        display: inline-block;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contact {
        display: inline-block;
        text-align: left;
        margin-left: 1em;
    }
}