/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 54rem) {

    nav ul li a{
        font-size: 20px;
        padding: 0.6rem 1rem;
        max-width: 100%;
        text-align: center;
        margin-left: 3em;
    }
    div.banner {
        display: none;
        background-color: #48e5c2;
        color: #333333;
        padding: 1em;
        text-align: center;
        font-size: 18px;
    }
    header{
        font-size: 20px;
        padding: 2em;
    }
    header img {
        float: left;
        width: 150px;
        padding-top: .5em;
        padding-left: 1.5em;
        margin-left: 6em;
    }
    figure{
        display: inline-block;
        margin-left: 0.5em;
       
    }
    section img.map {
        float: left;
        width: 350px;
        margin-bottom: 2em;
    }
    .map {
        display: inline-block;
    }
    .contact {
        display: inline-block;
        text-align: left;
        margin-left: 5em;
    }
    p.date {
        text-align: center;
    }
} /*end large */