body {
    background-color:#FFFCF2;
    color: #70566D;
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
}

header, footer{
    color: #1D3632;
    background-color: #A0CCA7; 
    display: flex;
}
h1{
    line-height: 0;
    margin-bottom: 0;
}
header img {
    float: left;
    padding: .5em;
    padding: 1.5em;
    margin-left: 10%;
}
nav{
    background-color:#ddc4dd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body nav ul li a{
    display: flex;
    flex: 1 1 100%;
    color:#1D3632;
}
nav ul li a:hover {
    color:#dccfec;
}
.weatherSummary {
    border: 1.5px solid #1D3632;
    border-radius: 0.5px;
    padding: 0.7em;
}
.forcast {
    border: 1.5px solid #1D3632;
    padding: 0.7em;
}
.article {
    border: 1.5px solid #1D3632;
    padding: 0.7em;
}
footer{
    font-size: .5em;
    text-align: right;
}
