body {
    background-color:#FFFCF2;
    color: #4B9FCC;
    font-size: 18px;
    line-height: 1.5;
    
    font-family: 'Courier New', Courier, monospace;
}

header, footer{
    color: #1D3632;
    background-color: #A0CCA7; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5em;
}
header img {
    float: left;
    padding-right: 1.5em;
    flex-wrap: left;
}
nav{
    display: flex;
    flex: 1 1 100%;
    list-style-type: none;
}
nav ul li a{
    color:#9DD7FF;
}
nav ul li a:hover {
    color:#4B9FCC;
}
footer{
    font-size: .5em;
    text-align: right;
}
