body {
    background-color:#FFFCF2;
    color: #70566D;
    font-size: 14px;
    line-height: 1.5em;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
}
header {
    color: #1D3632;
    background-color: #A0CCA7; 
    display: block;
    padding: 0.7em;
    border-radius: 15px 50px 30px 5px;
}
header img {
    float: left;
    padding: .5em;
    padding: 1.5em;
    margin-left: 10%;
}
nav{
    background-color:#ddc4dd;
    display: flex;
    flex: 1 1 100%;
    color:#1D3632;
}
ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body nav ul{
    display: flex;
    flex: 1 1 100%;
    color:#1D3632;
}
nav ul li a:hover {
    color:#dccfec;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
.weatherSummary {
    border: 1.5px solid #1D3632;
    margin: 0.7em;
    padding: 0.5em;
}
.forcast {
    border: 1.5px solid #1D3632;
    margin: 0.7em;
    padding: 0.5em;
}
.article {
    border: 1.5px solid #1D3632;
    margin: 0.7em;
    padding: 0.5em;
}
footer{
    font-size: .5em;
}
.contact {
    text-align: right;
}
