body{
    background-color: gray;
}
h1{
    text-align: center;
    color: #48e5c2;
}
section{
    background-color: #333333;
    color: #48e5c2;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    text-align: center;
    max-width: 600px;
    border-radius: 0.7em;
    margin-left: 15%;
}
p{
    font-size: 16px;
}
img{
    box-shadow: 1px 1px 10px 10px;
    border-radius: 0.7em;
}