table, th, td {
    border: 0.5px solid white;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 0.25em;
    background-color: #e7ffed;
}
#dblue {
    background-color: #628ca6;
    color: white;
}
caption, tfoot{
    background-color: #7fb9c2;
}
tbody{
    background-color: #e7f0ed;
}
