body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e5e5e+0,5e5e5e+0,333333+100&0.89+8,1+100 */
  background: -moz-linear-gradient(top,  rgba(94,94,94,0.89) 0%, rgba(91,91,91,0.89) 8%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(94,94,94,0.89) 0%,rgba(91,91,91,0.89) 8%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(94,94,94,0.89) 0%,rgba(91,91,91,0.89) 8%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e35e5e5e', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  ;
    color: #48e5c2;
    font-size: 16px;
    line-height: 1.5em;
    display: inline;
    font-family: 'Courier Prime', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
}
div#banner {
    display: none;
    background-color: #48e5c2;
    color: #333333;
    padding: 1em;
    text-align: center;
    width: 100%;
}
header {
    color: #333333;
    background-color: #ffbf00; 
    display: block;
    padding: 0.7em;
    text-align: center;
    max-width: 100%;
}
header img {
    float: left;
    padding-top: .5em;
    padding-left: 1.5em;
    margin-left: 0.1em;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #48e5c2;
}
nav {
  background-color: #333333;
  overflow: hidden;
}
.navigation li {
    display:block;
    flex: 1 1 100%;
}
nav ul.hide {
    display: none;
}
nav a {
    color:#48e5c2;
    padding: 1px 2px;
    text-decoration: none;
    font-size: 14px;
}
nav ul{
    padding: 0;
    margin: 0;
    display: block;
    flex: 1 1 100%;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3)
}
nav ul li a:hover {
    color:#ccc;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
.weatherSummary {
    border: 1.5px solid #ffbf00;
    margin: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
}
main figure.hero {
    width: 94%;
    margin: 0;
}
main figure.hero img{
    width: 100%;
    margin: 0 0 0 2%;
}
h4{
    font-size: 1.2em;
}
.forcast {
    border: 1.5px solid #ffbf00;
    margin: 0.7em;
    padding-left: 0.5em;
    padding-bottom: 2em;
}
section.one, .two, .three, .four, .five{
    display: inline-block;
    background-color: #333333;
    text-align: center;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-left: 1em;
}
ul.forcastImages {
    padding: 1em;
    margin: 0;
    display: flex;
    flex: 1 1 100%;
    list-style-type: none;
}
ul li{
    text-align: center;
}
#one, #two, #three, #four, #five{
    margin: 0.5em;
}
.article {
    border: 1.5px solid #ffbf00;
    margin: 0.7em;
    padding: 0.5em;
}
.article img {
    display: block;
    padding: 1em;
    width: 250px;
}
section {
    font-size: 1em;
}
section img.map {
    float: left;
    width: 350px;
    margin-left: 13%;
    padding-right: 0.5em;
}
.contact {
    display: inline-block;
    text-align: left;
    margin-left: 27%;
}
footer{
  font-size: 12px;
  background-color: #ffbf00;
  text-align: center;
  color: #333333;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/*--- Storm Center ----*/
  form fieldset{
    margin: 2rem 0;
    border: 1px solid #48e5c2;
    border-radius: 10px;
    padding: 0.5rem;
}
form legend{
    color: #48e5c2;
    margin: 0.1rem;
    padding: 0.5rem;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color:#48e5c2;
    font-size: 0.8rem;
}
form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #48e5c2;
    border-radius: 4px;
    padding: .75rem;
    color: #48e5c2;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #ccc;
}
form input.submitBtn{
    border:none;
    background-color: #ffbf00;
    color: #333333;
    border-radius: 0.5rem;
    padding: .75rem;
    margin-left: 2.5em;
    width: 100%;
    max-width: 20rem;
}
form label.top input:required{
    border-left:#ffbf00 solid 6px;
}
form label.top input:required:valid{
    border-left: #ccc solid 6px;
}
  /*---- Gallery ----*/
h1 {
    padding: 1em;
}
div{
    display: grid;
    grid-template-columns: 1fr;
}
.gallery {
    background-color: #333333;
    margin: 0.5em;
}
figure{
    background-color: #ffbf00;
    display: inline-block;
    margin: 2em;
    text-align: center;
    filter: blur(0em);
    transition: filter 0.5s;
    padding-top: 0.5em;
}
figure:hover {box-shadow: 0 0 50px grey;}

figcaption{
    color: #333333;
    text-align: left;
    padding-left: 1em;
} 
figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}  